<div class="row mb-4">
    <div class="col-6 border-right">
        <table class="table table-sm bcs-shadowless" style="border: none;">
            <tr class="border-bottom">
                <td colspan="2">
                    <h4 class="h6 bcs-font-weight-semibold mb-0">@BECOSOFT.Core.Resources.Help_General_Shortcuts</h4>
                </td>
            </tr>
            <tr class="border-bottom">
                <td class="w-25 keyboard-shortcut">
                    <span><kbd>CTRL</kbd> + <kbd>H</kbd></span>
                </td>
                <td>@BECOSOFT.Core.Resources.Help_General_ShowHelp</td>
            </tr>
            <tr class="border-bottom">
                <td class="w-25 keyboard-shortcut">
                    <span><kbd>CTRL</kbd> + <kbd>S</kbd></span>
                </td>
                <td>@BECOSOFT.Core.Resources.Help_General_SaveCurrentForm</td>
            </tr>
            <tr class="border-bottom">
                <td class="w-25 keyboard-shortcut">
                    <span>
                        <kbd>TAB</kbd>
                    </span>
                </td>
                <td>@BECOSOFT.Core.Resources.Help_General_GoToNextField</td>
            </tr>
            <tr>
                <td class="w-25 keyboard-shortcut">
                    <span><kbd>SHIFT</kbd> + <kbd>TAB</kbd></span>
                </td>
                <td>@BECOSOFT.Core.Resources.Help_General_GoToPreviousField</td>
            </tr>
        </table>
    </div>
    <div class="col-6">
        <table class="table table-sm bcs-shadowless" style="border: none;">
            <tr class="border-bottom">
                <td colspan="2">
                    <h4 class="h6 bcs-font-weight-semibold mb-0">@BECOSOFT.Core.Resources.Help_PopUp_Shortcuts</h4>
                </td>
            </tr>
            <tr class="border-bottom">
                <td class="w-25 keyboard-shortcut">
                    <span>
                        <kbd>ESC</kbd>
                    </span>
                </td>
                <td>@BECOSOFT.Core.Resources.Help_PopUp_Close</td>
            </tr>
            <tr class="border-bottom">
                <td class="w-25 keyboard-shortcut">
                    <span>
                        <kbd>&larr;</kbd>
                    </span>
                </td>
                <td>@BECOSOFT.Core.Resources.Help_PopUp_PreviousPage</td>
            </tr>
            <tr class="border-bottom">
                <td class="w-25 keyboard-shortcut">
                    <span>
                        <kbd>&rarr;</kbd>
                    </span>
                </td>
                <td>@BECOSOFT.Core.Resources.Help_PopUp_NextPage</td>
            </tr>
            <tr class="border-bottom">
                <td class="w-25 keyboard-shortcut">
                    <span>
                        <kbd>&darr;</kbd>
                    </span>
                </td>
                <td>@BECOSOFT.Core.Resources.Help_PopUp_NextRow</td>
            </tr>
            <tr class="border-bottom">
                <td class="w-25 keyboard-shortcut">
                    <span>
                        <kbd>&uarr;</kbd>
                    </span>
                </td>
                <td>@BECOSOFT.Core.Resources.Help_PopUp_PreviousRow</td>
            </tr>
            <tr>
                <td class="w-25 keyboard-shortcut">
                    <span><kbd>CTRL</kbd> + <kbd>F</kbd></span>
                </td>
                <td>@BECOSOFT.Core.Resources.Help_PopUp_Search</td>
            </tr>
        </table>
    </div>
</div>